<br>
<div class="jumbotron text-center">
  <h1 class="display-4">AZTECA INTERNATIONAL</h1>
  <p class="lead">Aquí va el slogan de la empresa</p>
  <hr class="my-4">
  <p>Aqui puede ir una descripción o información relevante de la empresa</p>
  <button class="btn btn-outline-primary btn-lg">Boton que no hace nada</button>
</div>
