<div class="col-md-12" *ngIf="datosPrincipalesForm && datosContactoForm && contrasenaForm">
    <div class="row">
        <div class="col-md-10">
            <h1 *ngIf="!editando">Nuevo usuario</h1>
            <h1 *ngIf="editando">Editar usuario</h1>
        </div>
        <div class="col-md-2">
            <button type="button" name="button" class="btn btn-danger btn-nuevo" [routerLink]="['/usuarios']"><i class="fas fa-arrow-left"></i> Cancelar</button>
        </div>
    </div>
    <hr>
    <mat-vertical-stepper [linear]="true" #stepper>
        <mat-step [stepControl]="datosPrincipalesForm">
            <form [formGroup]="datosPrincipalesForm">
                <ng-template matStepLabel>Datos principales</ng-template>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input matInput solotexto placeholder="Pimer nombre" formControlName="primer_nombre" required maxlength="45">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input matInput solotexto placeholder="Segundo nombre" formControlName="segundo_nombre" maxlength="45">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input matInput solotexto placeholder="Pimer apellido" formControlName="primer_apellido" required maxlength="45">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input matInput solotexto placeholder="Segundo apellido" formControlName="segundo_apellido" maxlength="45">
                        </mat-form-field>
                    </div>
                    <div class="col-md-4" formGroupName="tipo_identificacion">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Tipo de documento" formControlName="id" required>
                                <mat-option *ngFor="let tipoDocumento of TiposDocumento" [value]="tipoDocumento.id">
                                    {{ tipoDocumento.codigo }} - {{ tipoDocumento.descripcion }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input matInput solonumero placeholder="Numero de documento" formControlName="numero_identificacion" required maxlength="45">
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button class="btn btn-dark" matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="datosContactoForm">
            <form [formGroup]="datosContactoForm">
                <ng-template matStepLabel>Datos de contacto</ng-template>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="full-width" formGroupName="email">
                            <mat-select placeholder="E-mail" formControlName="id" required>
                                <mat-option *ngFor="let email of emails" [value]="email.id">
                                    {{ email.email }}
                                </mat-option>
                            </mat-select>
                            <!-- <input matInput placeholder="Email" formControlName="email" required maxlength="150">
                            <mat-error *ngIf="datosContactoForm.controls['email'].errors?.pattern">El email debe ser similar a: <b>usuario@email.com</b></mat-error> -->
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input matInput solonumero placeholder="Teléfono" formControlName="telefono" maxlength="20">
                            <mat-error *ngIf="datosContactoForm.controls['telefono'].errors?.minlength">Mínimo 7 dígitos</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <input matInput solonumero placeholder="Celular" formControlName="celular" required maxlength="20">
                            <mat-error *ngIf="datosContactoForm.controls['celular'].errors?.minlength">Mínimo 10 dígitos</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Dirección" formControlName="direccion" required maxlength="450">
                            <mat-error *ngIf="datosContactoForm.controls['direccion'].errors?.minlength">Mínimo 6 caracteres</mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" formGroupName="ciudad">
                        <mat-form-field class="full-width">
                            <input type="text" placeholder="Ciudad" matInput formControlName="nombre" [matAutocomplete]="auto" required>
                            <mat-autocomplete #auto="matAutocomplete">
                                <mat-option *ngFor="let ciudad of ciudadesFiltradas | async" [value]="ciudad.nombre">
                                    {{ ciudad.nombre }} - {{ ciudad.departamento}}
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button class="btn btn-dark" matStepperPrevious>Volver</button>
                    <button class="btn btn-dark" matStepperNext>Siguiente</button>
                </div>
            </form>
        </mat-step>
        <mat-step [stepControl]="contrasenaForm">
            <form [formGroup]="contrasenaForm">
                <ng-template matStepLabel>Credenciales</ng-template>
                <div class="row">
                    <div class="col-md-6" *ngIf="!editando">
                        <mat-form-field class="full-width">
                          <input matInput type="text" placeholder="Nombre de usuario" formControlName="usuario" required/>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6" formGroupName="rol">
                        <mat-form-field class="full-width">
                            <mat-select placeholder="Rol de usuario" formControlName="id" required>
                                <mat-option *ngFor="let rol of roles" [value]="rol.id">
                                    {{ rol.nombre }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>
                <br>
            </form>
            <div>
                <br>
                <button class="btn btn-dark" matStepperPrevious>Volver</button>
                <button class="btn btn-dark" (click)="stepper.reset()" id="resetUserForm">Reiniciar formulario</button>
                <button type="button" name="button" class="btn btn-dark" (click)="guardar()">Guardar</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>

</div>
