<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['inicio']">
        <img src="/docs/4.1/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Azteca INT
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" [routerLink]="['inicio']">Inicio</a>
            </li>
            <li class="nav-item" *ngFor="let opcion of menu" [ngClass]="{'dropdown': opcion.padre}">
                <a class="nav-link" [routerLink]="[opcion.ruta]" *ngIf="!opcion.padre">{{ opcion.nombre }}</a>
                <a class="nav-link dropdown-toggle" href="#" *ngIf="opcion.padre" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-trigger="hover">
                    {{ opcion.padre }}
                </a>
                <div class="dropdown-menu bg-dark" aria-label="navbarDropdown" *ngIf="opcion.padre">
                    <a class="nav-link" *ngFor="let hijo of opcion.hijos" [routerLink]="[hijo.ruta]">{{ hijo.nombre }}</a>
                </div>
            </li>
            <li *ngIf="_seguridadService.usuario.usuario === 'admin'" class="nav-item">
                <a class="nav-link" [routerLink]="['emails']">E-mails</a>
            </li>
        </ul>
        <ul class="navbar-nav user-button">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-trigger="hover">
                    <i class="far fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right bg-dark" aria-label="userDropdown">
                    <a class="nav-link" href="#" (click)="CerrarSesion()">Cerrar sesión</a>
                </div>
            </li>
        </ul>
        <!-- <div class="navbar-nav dropdown user-button">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-trigger="hover">
                <i class="far fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-right bg-dark" aria-label="userDropdown">
                <a class="nav-link" href="#" (click)="CerrarSesion()">Cerrar sesión</a>
            </div>
        </div> -->
    </div>
</nav>
