<div class="col-md-12">
    <div class="row">
        <div class="col-md-10 col-xs-12 col-sm-12">
            <h1>E-mails</h1>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-10">
        <mat-form-field class="full-width">
            <input matInput placeholder="Buscar..." autocomplete="off" (keyup)="filtrar($event)" [(ngModel)]="filtro" name="filtro">
        </mat-form-field>
    </div>
    <div class="col-md-2">
        <button type="button"
                name="button"
                class="btn btn-success btn-nuevo"
                [disabled]="!emailValido || dataSource.filteredData.length > 0"
                (click)="RegistrarEmail()">
            <i class="fas fa-plus"></i> Registrar e-mail
        </button>
    </div>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let email">
            <span *ngIf="anteriorEmail?.id !== email.id">{{ email.email }}</span>
            <div *ngIf="anteriorEmail?.id === email.id" class="col-md-10 border-bottom">
                <input matInput
                    type="text"
                    placeholder="Editar e-mail"
                    name="email"
                    [(ngModel)]="email.email"
                    pattern="[a-zA-Z0-9._-]{1,}@[a-zA-Z0-9.-]{1,}\.([a-zA-Z]{2,4}){1,}"
                    (keyup)="ActualizarEmail(email, $event)">
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="edit-delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let email">
            <div *ngIf="!anteriorEmail">
                <button type="button" name="button" class="btn btn-dark" (click)="HabilitarEdicion(email)"><i class="fas fa-edit"></i></button>
                <button type="button" name="button" class="btn btn-danger" (click)="EliminarEmail(email.id)"><i class="fas fa-trash-alt"></i></button>
            </div>
            <div *ngIf="anteriorEmail?.id === email.id">
                <button type="button" name="button" class="btn btn-success" (click)="ActualizarEmail(email)"><i class="fas fa-check"></i></button>
                <button type="button" name="button" class="btn btn-danger" (click)="CancelarEdicion(email)"><i class="fas fa-times"></i></button>
            </div>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
