<div class="login-container">
    <div class="col-md-12 text-center">
        <h3>AZTECA INTERNATIONAL</h3>
        <hr>
        <form [formGroup]="formulario" (ngSubmit)="Login()">
            <mat-form-field class="col-md-12">
                <input matInput placeholder="Usuario" formControlName="usuario">
            </mat-form-field>
            <mat-form-field class="col-md-12">
                <input matInput placeholder="Contraseña" formControlName="contrasena" type="password">
            </mat-form-field>
            <button type="submit" name="button" class="btn btn-block btn-dark">Ingresar</button>
        </form>
    </div>
</div>
