<div class="col-md-12">
    <div class="row">
        <div class="col-md-10 col-xs-12 col-sm-12">
            <h1>Configuraciones de generación de leads</h1>
        </div>
        <div class="col-md-2">
            <button type="button" name="button" class="btn btn-success btn-nuevo" [routerLink]="['/leads']"><i class="fas fa-plus"></i> Crear configuración</button>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <mat-form-field class="full-width">
            <input matInput placeholder="Buscar..." autocomplete="off" (keyup)="filtrar($event.target.value)">
        </mat-form-field>
    </div>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="activa">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Activa/Inactiva </th>
        <td mat-cell *matCellDef="let configuracion">
            <mat-slide-toggle [checked]="configuracion.activa" (change)="CambiarEstadoConfiguracionLeads(configuracion.id, !configuracion.activa)"></mat-slide-toggle>
        </td>
    </ng-container>

    <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Descripción </th>
        <td mat-cell *matCellDef="let configuracion"> {{ configuracion.descripcion }} </td>
    </ng-container>

    <ng-container matColumnDef="edit-delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let configuracion">
            <button type="button" name="button" class="btn btn-dark" [routerLink]="['/leads', configuracion.id]"><i class="fas fa-edit"></i></button>
            <button type="button" name="button" class="btn btn-danger" (click)="EliminarConfiguracion(configuracion.id)"><i class="fas fa-trash-alt"></i></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
