<div [class.loader-hidden]="!mostrar" class="full-modal">
    <div class="loader-overlay">
            <div>
                <mat-spinner mode="indeterminate" *ngIf="mostrar" diameter="50"></mat-spinner>
            </div>
            <h5>Por favor espere...</h5>
    </div>
</div>
