.loader-hidden {
    visibility: hidden;
}
.loader-overlay {
    width:100%;
    height: 100%;
    opacity: 1;
    top: 50%;
    left: 50%;
    margin-left: -25px;
    margin-top: -25px;
    position: inherit;
}

.full-modal {
    position: fixed;
    z-index: 500000;
    height: 100%;
    width: 100%;
    top: 0;
    background-color: rgba(255, 255, 255, 0.5);
    background-size: cover;
}

h5 {
    margin-left: -50px;
    display: inline;
}
