<div class="col-md-12" *ngIf="formulario">
    <div class="row">
        <div class="col-md-10">
            <h1 *ngIf="!editando">Nuevo rol</h1>
            <h1 *ngIf="editando">Editar rol</h1>
        </div>
        <div class="col-md-2">
            <button type="button" name="button" class="btn btn-danger btn-nuevo" [routerLink]="['/roles']"><i class="fas fa-arrow-left"></i> Cancelar</button>
        </div>
    </div>
    <hr>
    <form class="" action="index.html" method="post" [formGroup]="formulario">
        <div class="row">
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <input matInput placeholder="Nombre" formControlName="nombre" required maxlength="45">
                </mat-form-field>
            </div>
            <div class="col-md-6">
                <mat-form-field class="full-width">
                    <textarea matInput placeholder="Descripción" formControlName="descripcion" required></textarea>
                </mat-form-field>
            </div>
            <div class="col-md-12">
                <h3>Acceso a:</h3>
                <hr>
            </div>
        </div>
    </form>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" *ngFor="let pantalla of pantallas; let i = index">
            <div class="full-width">
                <mat-checkbox [(ngModel)]="pantallas[i].seleccionada" name="seleccionada{{i}}">{{ pantalla.descripcion }}</mat-checkbox>
            </div>
        </div>
        <div class="col-md-12">
            <br>
            <button class="btn btn-dark" (click)="formulario.reset()">Reiniciar formulario</button>
            <button type="button" name="button" class="btn btn-dark" (click)="guardar()">Guardar</button>
        </div>
    </div>
</div>
