<div *ngIf="!logged">
    <app-login (logged)="login( $event )"></app-login>
</div>

<div *ngIf="logged">
    <app-menu [pantallas]="pantallas"></app-menu>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>

<toaster-container [toasterconfig]="toastConfig"></toaster-container>
<app-cargando></app-cargando>
