<div class="col-md-12">
    <div class="row">
        <div class="col-md-10 col-xs-12 col-sm-12">
            <h1>Usuarios</h1>
        </div>
        <div class="col-md-2">
            <button type="button" name="button" class="btn btn-success btn-nuevo" [routerLink]="['/usuario']"><i class="fas fa-user-plus"></i> Crear usuario</button>
        </div>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-12">
        <mat-form-field class="full-width">
            <input matInput placeholder="Buscar..." autocomplete="off" (keyup)="filtrar($event.target.value)">
        </mat-form-field>
    </div>
</div>
<table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="nombre_completo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre completo </th>
        <td mat-cell *matCellDef="let usuario"> {{ usuario.nombre_completo }}</td>
    </ng-container>

    <ng-container matColumnDef="usuario">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Usuario </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.usuario}} </td>
    </ng-container>

    <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.email?.email}} </td>
    </ng-container>

    <ng-container matColumnDef="celular">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Rol </th>
        <td mat-cell *matCellDef="let usuario"> {{usuario.rol?.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="edit-delete">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let usuario">
            <button type="button" name="button" class="btn btn-dark" [routerLink]="['/usuario', usuario.id]"><i class="fas fa-user-edit"></i></button>
            <button type="button" name="button" class="btn btn-danger" (click)="EliminarUsuario(usuario.id)"><i class="fas fa-user-minus"></i></button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
