<div class="col-md-12">
    <div class="row">
        <div class="col-md-10">
            <h1>Generar nuevos leads de marcación</h1>
        </div>
        <div class="col-md-2">
            <button type="button" name="button" class="btn btn-danger btn-nuevo" [routerLink]="['/configuracion-leads']"><i class="fas fa-arrow-left"></i> Cancelar</button>
        </div>
        <div class="col-md-12">
            <p>Seleccione los estados para los cuales desea que el sistema genere leads y agregue una corta descripción. Por defecto la configuración se creará inactiva.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-3">
            <label class="label">Estados de la zona 1</label>
            <angular2-multiselect [data]="estadosZona1" [(ngModel)]="estadosSeleccionados1" [settings]="configuracion"></angular2-multiselect>
        </div>
        <div class="col-md-3">
            <label class="label">Estados de la zona 2</label>
            <angular2-multiselect [data]="estadosZona2" [(ngModel)]="estadosSeleccionados2" [settings]="configuracion"></angular2-multiselect>
        </div>
        <div class="col-md-3">
            <label class="label">Estados de la zona 3</label>
            <angular2-multiselect [data]="estadosZona3" [(ngModel)]="estadosSeleccionados3" [settings]="configuracion"></angular2-multiselect>
        </div>
        <div class="col-md-3">
            <label class="label">Estados de la zona 4</label>
            <angular2-multiselect [data]="estadosZona4" [(ngModel)]="estadosSeleccionados4" [settings]="configuracion"></angular2-multiselect>
        </div>
    </div>
    <br>
    <div class="col-md-12">
        <mat-form-field class="full-width">
            <textarea matInput placeholder="Descripción" required [(ngModel)]="descripcion" name="descripcion"></textarea>
        </mat-form-field>
    </div>
    <br>
    <button type="button" class="btn btn-success btn-block" name="button" (click)="CrearConfiguracion()">Guardar</button>
    <br><br>
    <!-- <div class="progress" *ngIf="generando">
      <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"><b>GENERANDO LEADS</b></div>
    </div> -->
</div>
