@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    height: 300px;
    margin-top: -150px;
    padding: 25px;
    border-radius: 10px 10px;
    box-shadow: 1px 1px 15px 1px black;
}

.btn {
    margin-right: 20px;
}

.container {
    background-color: rgb(255, 255, 255);
    padding-bottom: 30px;
}

.user-button {
    right: 0%;
    position: absolute;
}

.full-width,
table {
    width: 100%;
}

.btn-nuevo {
    margin-top: 10px;
    margin-right: 10px;
}

table td {
    max-width: 200px;
}
